[submodule "Ethereum-IoT"]
	path = Ethereum-IoT
	url = git@github.com:bits-and-chains/Ethereum-IoT.git
[submodule "ok-blockchain-iot"]
	path = ok-blockchain-iot
	url = git@github.com:okcashpro/ok-blockchain-iot.git
[submodule "blockchain-IoT-core"]
	path = blockchain-IoT-core
	url = git@github.com:blockchain-IoT/blockchain-IoT-core.git
[submodule "awesome-iot-hacks"]
	path = awesome-iot-hacks
	url = git@github.com:nebgnahz/awesome-iot-hacks.git
[submodule "esp8266ws2812i2s"]
	path = esp8266ws2812i2s
	url = git@github.com:cnlohr/esp8266ws2812i2s.git
