[submodule "Ethereum-IoT"]
	path = Ethereum-IoT
	url = git@github.com:bits-and-chains/Ethereum-IoT.git
[submodule "ok-blockchain-iot"]
	path = ok-blockchain-iot
	url = git@github.com:okcashpro/ok-blockchain-iot.git
[submodule "blockchain-IoT-core"]
	path = blockchain-IoT-core
	url = git@github.com:blockchain-IoT/blockchain-IoT-core.git
[submodule "awesome-iot-hacks"]
	path = awesome-iot-hacks
	url = git@github.com:nebgnahz/awesome-iot-hacks.git
[submodule "esp8266ws2812i2s"]
	path = esp8266ws2812i2s
	url = git@github.com:cnlohr/esp8266ws2812i2s.git
[submodule "ZeroMQ/zguide"]
	path = ZeroMQ/zguide
	url = https://github.com/booksbyus/zguide.git
[submodule "ZeroMQ/libzmq"]
	path = ZeroMQ/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "ZeroMQ/cppzmq"]
	path = ZeroMQ/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "ZeroMQ/czmq"]
	path = ZeroMQ/czmq
	url = https://github.com/zeromq/czmq.git
[submodule "ZeroMQ/azmq"]
	path = ZeroMQ/azmq
	url = https://github.com/zeromq/azmq.git
[submodule "ZeroMQ/libzmtp"]
	path = ZeroMQ/libzmtp
	url = https://github.com/zeromq/libzmtp.git
[submodule "ZeroMQ/zmtp"]
	path = ZeroMQ/zmtp
	url = https://github.com/zeromq/zmtp.git
[submodule "firmware"]
	path = particle-IoT/firmware
	url = https://github.com/particle-iot/firmware.git
[submodule "OpenMTC"]
	path = OpenMTC
	url = https://github.com/OpenMTC/OpenMTC.git
[submodule "open62541"]
	path = open62541
	url = https://github.com/open62541/open62541.git
[submodule "att-lte-mileage-tracker"]
	path = att-lte-mileage-tracker
	url = https://github.com/TampaHackerspace/att-lte-mileage-tracker.git
[submodule "Eclipse/paho.mqtt.cpp"]
	path = Eclipse/paho.mqtt.cpp
	url = https://github.com/eclipse/paho.mqtt.cpp.git
[submodule "Eclipse/paho.mqtt.c"]
	path = Eclipse/paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c.git
[submodule "Eclipse/paho.mqtt.embedded-c"]
	path = Eclipse/paho.mqtt.embedded-c
	url = https://github.com/eclipse/paho.mqtt.embedded-c.git
[submodule "Eclipse/paho.mqtt-sn.embedded-c"]
	path = Eclipse/paho.mqtt-sn.embedded-c
	url = https://github.com/eclipse/paho.mqtt-sn.embedded-c.git
[submodule "example-raspberry-pi"]
	path = example-raspberry-pi
	url = https://github.com/Losant/example-raspberry-pi.git
[submodule "freeboard"]
	path = freeboard
	url = https://github.com/Freeboard/freeboard.git
[submodule "ariadne-io"]
	path = ariadne-io
	url = https://github.com/gwilken/ariadne-io.git
[submodule "Smart-Security-Camera"]
	path = Smart-Security-Camera
	url = https://github.com/HackerShackOfficial/Smart-Security-Camera.git
[submodule "Smart-Bell"]
	path = Smart-Bell
	url = https://github.com/dmitrykhramov/Smart-Bell.git
[submodule "esp8266-react"]
	path = esp8266-react
	url = https://github.com/TheUdder/esp8266-react.git
[submodule "gateway-management-ui"]
	path = gateway-management-ui
	url = https://github.com/SiliconLabs/gateway-management-ui.git
[submodule "iot-serverless-websockets-react-boilerplate"]
	path = iot-serverless-websockets-react-boilerplate
	url = https://github.com/gettechtalent/iot-serverless-websockets-react-boilerplate.git
[submodule "react-iot"]
	path = react-iot
	url = https://github.com/webondevices/react-iot.git
[submodule "Books/Practical-Internet-of-Things-with-JavaScript"]
	path = Books/Practical-Internet-of-Things-with-JavaScript
	url = https://github.com/PacktPublishing/Practical-Internet-of-Things-with-JavaScript.git
[submodule "react-protobuf-mqtt-esp8266"]
	path = react-protobuf-mqtt-esp8266
	url = https://github.com/RyleeHarrison/react-protobuf-mqtt-esp8266.git
[submodule "Farmin/sensehat-api"]
	path = Farmin/sensehat-api
	url = https://github.com/farminf/sensehat-api.git
[submodule "Farmin/statistics-dashboard"]
	path = Farmin/statistics-dashboard
	url = https://github.com/farminf/statistics-dashboard.git
[submodule "Farmin/sensehat-react"]
	path = Farmin/sensehat-react
	url = https://github.com/farminf/sensehat-react.git
[submodule "Farmin/sensehat-angular"]
	path = Farmin/sensehat-angular
	url = https://github.com/farminf/sensehat-dashboard.git
[submodule "Evothings-Demo-Apps"]
	path = Evothings-Demo-Apps
	url = https://github.com/hammadtq/Evothings-Demo-Apps.git
[submodule "Fast-ESP8266-HTML-JS-development-with-Nodejs-Pug"]
	path = Fast-ESP8266-HTML-JS-development-with-Nodejs-Pug
	url = https://github.com/projetsdiy/Fast-ESP8266-HTML-JS-development-with-Nodejs-Pug.git
[submodule "ESP8266WebServer-Bootstrap-Bootswatch"]
	path = ESP8266WebServer-Bootstrap-Bootswatch
	url = https://github.com/projetsdiy/ESP8266WebServer-Bootstrap-Bootswatch.git
[submodule "ESP8266-Webserver-Tutorials"]
	path = ESP8266-Webserver-Tutorials
	url = https://github.com/projetsdiy/ESP8266-Webserver-Tutorials.git
[submodule "OpenSourceUniversalRemote.com"]
	path = OpenSourceUniversalRemote.com
	url = https://github.com/alexbain/OpenSourceUniversalRemote.com.git
[submodule "Blynk/blynk-library"]
	path = Blynk/blynk-library
	url = https://github.com/blynkkk/blynk-library.git
[submodule "Blynk/blynk-server"]
	path = Blynk/blynk-server
	url = https://github.com/blynkkk/blynk-server.git
[submodule "Blynk/blynk-library-particle"]
	path = Blynk/blynk-library-particle
	url = https://github.com/vshymanskyy/blynk-library-particle.git
[submodule "Blynk/blynk-library-js"]
	path = Blynk/blynk-library-js
	url = https://github.com/vshymanskyy/blynk-library-js.git
[submodule "Blynk/blynk-library-python"]
	path = Blynk/blynk-library-python
	url = https://github.com/vshymanskyy/blynk-library-python.git
[submodule "Blynk/blynk-library-openwrt"]
	path = Blynk/blynk-library-openwrt
	url = https://github.com/vshymanskyy/blynk-library-openwrt.git
[submodule "barterer"]
	path = barterer
	url = https://github.com/reelyactive/barterer.git
[submodule "tigerfid"]
	path = tigerfid
	url = https://github.com/tourajghaffari/tigerfid.git
